# -----------------------------
# PostgreSQL configuration file
# -----------------------------
#
# This file consists of lines of the form:
#
#   name = value
#
# (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
# "#" anywhere on a line.  The complete list of parameter names and allowed
# values can be found in the PostgreSQL documentation.
#
# The commented-out settings shown in this file represent the default values.
# Re-commenting a setting is NOT sufficient to revert it to the default value;
# you need to reload the server.
#
# This file is read on server startup and when the server receives a SIGHUP
# signal.  If you edit the file on a running system, you have to SIGHUP the
# server for the changes to take effect, or use "pg_ctl reload".  Some
# parameters, which are marked below, require a server shutdown and restart to
# take effect.
#
# Any parameter can also be given as a command-line option to the server, e.g.,
# "postgres -c log_connections=on".  Some parameters can be changed at run time
# with the "SET" SQL command.
#
# Memory units:  kB = kilobytes        Time units:  ms  = milliseconds
#                MB = megabytes                     s   = seconds
#                GB = gigabytes                     min = minutes
#                TB = terabytes                     h   = hours
#                                                   d   = days


#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

# The default values of these variables are driven from the -D command-line
# option or PGDATA environment variable, represented here as ConfigDir.

data_directory = '{{ pgbdr_data_directory }}'		# use data in another directory
					# (change requires restart)
hba_file = '{{ pgbdr_hba_file }}'	# host-based authentication file
					# (change requires restart)
ident_file = '{{ pgbdr_ident_file }}'	# ident configuration file
					# (change requires restart)

# If external_pid_file is not explicitly set, no extra PID file is written.
external_pid_file = '{{ pgbdr_external_pid_file }}'			# write an extra PID file
					# (change requires restart)


#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = '{{ pgbdr_listen_addresses | join(',') }}'		# what IP address(es) to listen on;
					# comma-separated list of addresses;
					# defaults to 'localhost'; use '*' for all
					# (change requires restart)
port = {{ pgbdr_port }}				# (change requires restart)
max_connections = {{ pgbdr_max_connections }}			# (change requires restart)
superuser_reserved_connections = {{ pgbdr_superuser_reserved_connections }}	# (change requires restart)
unix_socket_directories = '{{ pgbdr_unix_socket_directories }}'	# comma-separated list of directories
					# (change requires restart)
unix_socket_group = '{{ pgbdr_unix_socket_group }}'			# (change requires restart)
unix_socket_permissions = {{ pgbdr_unix_socket_permissions }}		# begin with 0 to use octal notation
					# (change requires restart)
bonjour = {{ pgbdr_bonjour }}				# advertise server via Bonjour
					# (change requires restart)
bonjour_name = '{{ pgbdr_bonjour_name }}'			# defaults to the computer name
					# (change requires restart)

# - Security and Authentication -

authentication_timeout = {{ pgbdr_authentication_timeout }}		# 1s-600s
ssl = {{ pgbdr_ssl}}				# (change requires restart)
ssl_ciphers = '{{ pgbdr_ssl_ciphers }}' # allowed SSL ciphers
					# (change requires restart)
ssl_prefer_server_ciphers = {{ pgbdr_ssl_prefer_server_ciphers }}		# (change requires restart)
ssl_ecdh_curve = '{{ pgbdr_ssl_ecdh_curve }}'		# (change requires restart)
ssl_renegotiation_limit = {{ pgbdr_ssl_renegotiation_limit }}		# amount of data between renegotiations
ssl_cert_file = '{{ pgbdr_ssl_cert_file }}'		# (change requires restart)
ssl_key_file = '{{ pgbdr_ssl_key_file }}'		# (change requires restart)
ssl_ca_file = '{{ pgbdr_ssl_ca_file }}'			# (change requires restart)
ssl_crl_file = '{{ pgbdr_ssl_crl_file }}'			# (change requires restart)
password_encryption = {{ pgbdr_password_encryption }}
db_user_namespace = {{ pgbdr_db_user_namespace }}

# GSSAPI using Kerberos
krb_server_keyfile = '{{ pgbdr_krb_server_keyfile }}'
krb_caseins_users = {{ pgbdr_krb_caseins_users }}

# - TCP Keepalives -
# see "man 7 tcp" for details

tcp_keepalives_idle = {{ pgbdr_tcp_keepalives_idle }}		# TCP_KEEPIDLE, in seconds;
					# 0 selects the system default
tcp_keepalives_interval = {{ pgbdr_tcp_keepalives_interval }}		# TCP_KEEPINTVL, in seconds;
					# 0 selects the system default
tcp_keepalives_count = {{ pgbdr_tcp_keepalives_count }}		# TCP_KEEPCNT;
					# 0 selects the system default


#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

shared_buffers = {{ pgbdr_shared_buffers }}			# min 128kB
					# (change requires restart)
huge_pages = {{ pgbdr_huge_pages }}			# on, off, or try
					# (change requires restart)
temp_buffers = {{ pgbdr_temp_buffers }}			# min 800kB
max_prepared_transactions = {{ pgbdr_max_prepared_transactions }}		# zero disables the feature
					# (change requires restart)
# Caution: it is not advisable to set max_prepared_transactions nonzero unless
# you actively intend to use prepared transactions.
work_mem = {{ pgbdr_work_mem }}				# min 64kB
maintenance_work_mem = {{ pgbdr_maintenance_work_mem }}		# min 1MB
autovacuum_work_mem = {{ pgbdr_autovacuum_work_mem }}		# min 1MB, or -1 to use maintenance_work_mem
max_stack_depth = {{ pgbdr_max_stack_depth }}			# min 100kB
dynamic_shared_memory_type = {{ pgbdr_dynamic_shared_memory_type }}	# the default is the first option
					# supported by the operating system:
					#   posix
					#   sysv
					#   windows
					#   mmap
					# use none to disable dynamic shared memory
					# (change requires restart)

# - Disk -

temp_file_limit = {{ pgbdr_temp_file_limit }}			# limits per-session temp file space
					# in kB, or -1 for no limit

# - Kernel Resource Usage -

max_files_per_process = {{ pgbdr_max_files_per_process }}		# min 25
					# (change requires restart)
shared_preload_libraries = '{{ pgbdr_shared_preload_libraries | join(',') }}'		# (change requires restart)

# - Cost-Based Vacuum Delay -

vacuum_cost_delay = {{ pgbdr_vacuum_cost_delay }}			# 0-100 milliseconds
vacuum_cost_page_hit = {{ pgbdr_vacuum_cost_page_hit }}		# 0-10000 credits
vacuum_cost_page_miss = {{ pgbdr_vacuum_cost_page_miss }}		# 0-10000 credits
vacuum_cost_page_dirty = {{ pgbdr_vacuum_cost_page_dirty }}		# 0-10000 credits
vacuum_cost_limit = {{ pgbdr_vacuum_cost_limit }}		# 1-10000 credits

# - Background Writer -

bgwriter_delay = {{ pgbdr_bgwriter_delay }}			# 10-10000ms between rounds
bgwriter_lru_maxpages = {{ pgbdr_bgwriter_lru_maxpages }}		# 0-1000 max buffers written/round
bgwriter_lru_multiplier = {{ pgbdr_bgwriter_lru_multiplier }}		# 0-10.0 multipler on buffers scanned/round

# - Asynchronous Behavior -

effective_io_concurrency = {{ pgbdr_effective_io_concurrency }}		# 1-1000; 0 disables prefetching
max_worker_processes = {{ pgbdr_max_worker_processes }}


#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

wal_level = {{ pgbdr_wal_level }}			# minimal, archive, hot_standby, or logical
					# (change requires restart)
fsync = {{ pgbdr_fsync }}				# turns forced synchronization on or off
synchronous_commit = {{ pgbdr_synchronous_commit }}		# synchronization level;
					# off, local, remote_write, or on
wal_sync_method = {{ pgbdr_wal_sync_method }}		# the default is the first option
					# supported by the operating system:
					#   open_datasync
					#   fdatasync (default on Linux)
					#   fsync
					#   fsync_writethrough
					#   open_sync
full_page_writes = {{ pgbdr_full_page_writes }}			# recover from partial page writes
wal_log_hints = {{ pgbdr_wal_log_hints }}			# also do full page writes of non-critical updates
					# (change requires restart)
wal_buffers = {{ pgbdr_wal_buffers }}			# min 32kB, -1 sets based on shared_buffers
					# (change requires restart)
wal_writer_delay = {{ pgbdr_wal_writer_delay }}		# 1-10000 milliseconds

commit_delay = {{ pgbdr_commit_delay }}			# range 0-100000, in microseconds
commit_siblings = {{ pgbdr_commit_siblings }}			# range 1-1000

# - Checkpoints -

checkpoint_segments = {{ pgbdr_checkpoint_segments }}		# in logfile segments, min 1, 16MB each
checkpoint_timeout = {{ pgbdr_checkpoint_timeout }}		# range 30s-1h
checkpoint_completion_target = {{ pgbdr_checkpoint_completion_target }}	# checkpoint target duration, 0.0 - 1.0
checkpoint_warning = {{ pgbdr_checkpoint_warning }}		# 0 disables

# - Archiving -

archive_mode = {{ pgbdr_archive_mode }}		# allows archiving to be done
				# (change requires restart)
archive_command = '{{ pgbdr_archive_command }}'		# command to use to archive a logfile segment
				# placeholders: %p = path of file to archive
				#               %f = file name only
				# e.g. 'test ! -f /mnt/server/archivedir/%f && cp %p /mnt/server/archivedir/%f'
archive_timeout = {{ pgbdr_archive_timeout }}		# force a logfile segment switch after this
				# number of seconds; 0 disables


#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Server(s) -

# Set these on the master and on any standby that will send replication data.

max_wal_senders = {{ pgbdr_max_wal_senders }}		# max number of walsender processes
				# (change requires restart)
wal_keep_segments = {{ pgbdr_wal_keep_segments }}		# in logfile segments, 16MB each; 0 disables
wal_sender_timeout = {{ pgbdr_wal_sender_timeout }}	# in milliseconds; 0 disables

max_replication_slots = {{ pgbdr_max_replication_slots }}	# max number of replication slots
track_commit_timestamp = {{ pgbdr_track_commit_timestamp }}	# collect timestamp of transaction commit
				# (change requires restart)

# - Master Server -

# These settings are ignored on a standby server.

synchronous_standby_names = '{{ pgbdr_synchronous_standby_names | join(',') }}'	# standby servers that provide sync rep
				# comma-separated list of application_name
				# from standby(s); '*' = all
vacuum_defer_cleanup_age = {{ pgbdr_vacuum_defer_cleanup_age }}	# number of xacts by which cleanup is delayed

# - Standby Servers -

# These settings are ignored on a master server.

hot_standby = {{ pgbdr_hot_standby }}			# "on" allows queries during recovery
					# (change requires restart)
max_standby_archive_delay = {{ pgbdr_max_standby_archive_delay }}	# max delay before canceling queries
					# when reading WAL from archive;
					# -1 allows indefinite delay
max_standby_streaming_delay = {{ pgbdr_max_standby_streaming_delay }}	# max delay before canceling queries
					# when reading streaming WAL;
					# -1 allows indefinite delay
wal_receiver_status_interval = {{ pgbdr_wal_receiver_status_interval }}	# send replies at least this often
					# 0 disables
hot_standby_feedback = {{ pgbdr_hot_standby_feedback }}		# send info from standby to prevent
					# query conflicts
wal_receiver_timeout = {{ pgbdr_wal_receiver_timeout }}		# time that receiver waits for
					# communication from master
					# in milliseconds; 0 disables


#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Method Configuration -

enable_bitmapscan = {{ pgbdr_enable_bitmapscan }}
enable_hashagg = {{ pgbdr_enable_hashagg }}
enable_hashjoin = {{ pgbdr_enable_hashjoin }}
enable_indexscan = {{ pgbdr_enable_indexscan }}
enable_indexonlyscan = {{ pgbdr_enable_indexonlyscan }}
enable_material = {{ pgbdr_enable_material }}
enable_mergejoin = {{ pgbdr_enable_mergejoin }}
enable_nestloop = {{ pgbdr_enable_nestloop }}
enable_seqscan = {{ pgbdr_enable_seqscan }}
enable_sort = {{ pgbdr_enable_sort }}
enable_tidscan = {{ pgbdr_enable_tidscan }}

# - Planner Cost Constants -

seq_page_cost = {{ pgbdr_seq_page_cost }}			# measured on an arbitrary scale
random_page_cost = {{ pgbdr_random_page_cost }}			# same scale as above
cpu_tuple_cost = {{ pgbdr_cpu_tuple_cost }}			# same scale as above
cpu_index_tuple_cost = {{ pgbdr_cpu_index_tuple_cost }}		# same scale as above
cpu_operator_cost = {{ pgbdr_cpu_operator_cost }}		# same scale as above
effective_cache_size = {{ pgbdr_effective_cache_size }}

# - Genetic Query Optimizer -

geqo = {{ pgbdr_geqo }}
geqo_threshold = {{ pgbdr_geqo_threshold }}
geqo_effort = {{ pgbdr_geqo_effort }}			# range 1-10
geqo_pool_size = {{ pgbdr_geqo_pool_size }}			# selects default based on effort
geqo_generations = {{ pgbdr_geqo_generations }}			# selects default based on effort
geqo_selection_bias = {{ pgbdr_geqo_selection_bias }}		# range 1.5-2.0
geqo_seed = {{ pgbdr_geqo_seed }}			# range 0.0-1.0

# - Other Planner Options -

default_statistics_target = {{ pgbdr_default_statistics_target }}	# range 1-10000
constraint_exclusion = {{ pgbdr_constraint_exclusion }}	# on, off, or partition
cursor_tuple_fraction = {{ pgbdr_cursor_tuple_fraction }}		# range 0.0-1.0
from_collapse_limit = {{ pgbdr_from_collapse_limit }}
join_collapse_limit = {{ pgbdr_join_collapse_limit }}		# 1 disables collapsing of explicit
					# JOIN clauses


#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -

log_destination = '{{ pgbdr_log_destination }}'		# Valid values are combinations of
					# stderr, csvlog, syslog, and eventlog,
					# depending on platform.  csvlog
					# requires logging_collector to be on.

# This is used when logging to stderr:
logging_collector = {{ pgbdr_logging_collector }}		# Enable capturing of stderr and csvlog
					# into log files. Required to be on for
					# csvlogs.
					# (change requires restart)

# These are only used if logging_collector is on:
log_directory = '{{ pgbdr_log_directory }}'		# directory where log files are written,
					# can be absolute or relative to PGDATA
log_filename = '{{ pgbdr_log_filename }}'	# log file name pattern,
					# can include strftime() escapes
log_file_mode = {{ pgbdr_log_file_mode }}			# creation mode for log files,
					# begin with 0 to use octal notation
log_truncate_on_rotation = {{ pgbdr_log_truncate_on_rotation }}		# If on, an existing log file with the
					# same name as the new log file will be
					# truncated rather than appended to.
					# But such truncation only occurs on
					# time-driven rotation, not on restarts
					# or size-driven rotation.  Default is
					# off, meaning append to existing files
					# in all cases.
log_rotation_age = {{ pgbdr_log_rotation_age }}			# Automatic rotation of logfiles will
					# happen after that time.  0 disables.
log_rotation_size = {{ pgbdr_log_rotation_size }}		# Automatic rotation of logfiles will
					# happen after that much log output.
					# 0 disables.

# These are relevant when logging to syslog:
syslog_facility = '{{ pgbdr_syslog_facility }}'
syslog_ident = '{{ pgbdr_syslog_ident }}'

# This is only relevant when logging to eventlog (win32):
# (change requires restart)
event_source = '{{ pgbdr_event_source }}'

# - When to Log -

client_min_messages = {{ pgbdr_client_min_messages }}		# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   log
					#   notice
					#   warning
					#   error

log_min_messages = {{ pgbdr_log_min_messages }}		# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   info
					#   notice
					#   warning
					#   error
					#   log
					#   fatal
					#   panic

log_min_error_statement = {{ pgbdr_log_min_error_statement }}	# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   info
					#   notice
					#   warning
					#   error
					#   log
					#   fatal
					#   panic (effectively off)

log_min_duration_statement = {{ pgbdr_log_min_duration_statement }}	# -1 is disabled, 0 logs all statements
					# and their durations, > 0 logs only
					# statements running at least this number
					# of milliseconds


# - What to Log -

debug_print_parse = {{ pgbdr_debug_print_parse }}
debug_print_rewritten = {{ pgbdr_debug_print_rewritten }}
debug_print_plan = {{ pgbdr_debug_print_plan }}
debug_pretty_print = {{ pgbdr_debug_pretty_print }}
log_checkpoints = {{ pgbdr_log_checkpoints }}
log_connections = {{ pgbdr_log_connections }}
log_disconnections = {{ pgbdr_log_disconnections }}
log_duration = {{ pgbdr_log_duration }}
log_error_verbosity = {{ pgbdr_log_error_verbosity }}		# terse, default, or verbose messages
log_hostname = {{ pgbdr_log_hostname }}
log_line_prefix = '{{ pgbdr_log_line_prefix }}'			# special values:
					#   %a = application name
					#   %u = user name
					#   %d = database name
					#   %r = remote host and port
					#   %h = remote host
					#   %p = process ID
					#   %t = timestamp without milliseconds
					#   %m = timestamp with milliseconds
					#   %i = command tag
					#   %e = SQL state
					#   %c = session ID
					#   %l = session line number
					#   %s = session start timestamp
					#   %v = virtual transaction ID
					#   %x = transaction ID (0 if none)
					#   %q = stop here in non-session
					#        processes
					#   %% = '%'
					# e.g. '<%u%%%d> '
log_lock_waits = {{ pgbdr_log_lock_waits }}			# log lock waits >= deadlock_timeout
log_statement = '{{ pgbdr_log_statement }}'			# none, ddl, mod, all
log_temp_files = {{ pgbdr_log_temp_files }}			# log temporary files equal or larger
					# than the specified size in kilobytes;
					# -1 disables, 0 logs all temp files
log_timezone = '{{ pgbdr_log_timezone }}'


#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

# - Query/Index Statistics Collector -

track_activities = {{ pgbdr_track_activities }}
track_counts = {{ pgbdr_track_counts }}
track_io_timing = {{ pgbdr_track_io_timing }}
track_functions = {{ pgbdr_track_functions }}			# none, pl, all
track_activity_query_size = {{ pgbdr_track_activity_query_size }}	# (change requires restart)
update_process_title = {{ pgbdr_update_process_title }}
stats_temp_directory = '{{ pgbdr_stats_temp_directory }}'


# - Statistics Monitoring -

log_parser_stats = {{ pgbdr_log_parser_stats }}
log_planner_stats = {{ pgbdr_log_planner_stats }}
log_executor_stats = {{ pgbdr_log_executor_stats }}
log_statement_stats = {{ pgbdr_log_statement_stats }}


#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------

autovacuum = {{ pgbdr_autovacuum }}			# Enable autovacuum subprocess?  'on'
					# requires track_counts to also be on.
log_autovacuum_min_duration = {{ pgbdr_log_autovacuum_min_duration }}	# -1 disables, 0 logs all actions and
					# their durations, > 0 logs only
					# actions running at least this number
					# of milliseconds.
autovacuum_max_workers = {{ pgbdr_autovacuum_max_workers }}		# max number of autovacuum subprocesses
					# (change requires restart)
autovacuum_naptime = {{ pgbdr_autovacuum_naptime }}		# time between autovacuum runs
autovacuum_vacuum_threshold = {{ pgbdr_autovacuum_vacuum_threshold }}	# min number of row updates before
					# vacuum
autovacuum_analyze_threshold = {{ pgbdr_autovacuum_analyze_threshold }}	# min number of row updates before
					# analyze
autovacuum_vacuum_scale_factor = {{ pgbdr_autovacuum_vacuum_scale_factor }}	# fraction of table size before vacuum
autovacuum_analyze_scale_factor = {{ pgbdr_autovacuum_analyze_scale_factor }}	# fraction of table size before analyze
autovacuum_freeze_max_age = {{ pgbdr_autovacuum_freeze_max_age }}	# maximum XID age before forced vacuum
					# (change requires restart)
autovacuum_multixact_freeze_max_age = {{ pgbdr_autovacuum_multixact_freeze_max_age }}	# maximum multixact age
					# before forced vacuum
					# (change requires restart)
autovacuum_vacuum_cost_delay = {{ pgbdr_autovacuum_vacuum_cost_delay }}	# default vacuum cost delay for
					# autovacuum, in milliseconds;
					# -1 means use vacuum_cost_delay
autovacuum_vacuum_cost_limit = {{ pgbdr_autovacuum_vacuum_cost_limit }}	# default vacuum cost limit for
					# autovacuum, -1 means use
					# vacuum_cost_limit


#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Statement Behavior -

search_path = '{{ pgbdr_search_path | join(',') }}'		# schema names
default_tablespace = '{{ pgbdr_default_tablespace }}'		# a tablespace name, '' uses the default
temp_tablespaces = '{{ pgbdr_temp_tablespaces | join(',') }}'			# a list of tablespace names, '' uses
					# only default tablespace
check_function_bodies = {{ pgbdr_check_function_bodies }}
default_transaction_isolation = '{{ pgbdr_default_transaction_isolation }}'
default_transaction_read_only = {{ pgbdr_default_transaction_read_only }}
default_transaction_deferrable = {{ pgbdr_default_transaction_deferrable }}
session_replication_role = '{{ pgbdr_session_replication_role }}'
statement_timeout = {{ pgbdr_statement_timeout }}			# in milliseconds, 0 is disabled
lock_timeout = {{ pgbdr_lock_timeout }}			# in milliseconds, 0 is disabled
vacuum_freeze_min_age = {{ pgbdr_vacuum_freeze_min_age }}
vacuum_freeze_table_age = {{ pgbdr_vacuum_freeze_table_age }}
vacuum_multixact_freeze_min_age = {{ pgbdr_vacuum_multixact_freeze_min_age }}
vacuum_multixact_freeze_table_age = {{ pgbdr_vacuum_multixact_freeze_table_age }}
bytea_output = '{{ pgbdr_bytea_output }}'			# hex, escape
xmlbinary = '{{ pgbdr_xmlbinary }}'
xmloption = '{{ pgbdr_xmloption }}'
gin_fuzzy_search_limit = {{ pgbdr_gin_fuzzy_search_limit }}

# - Locale and Formatting -

datestyle = '{{ pgbdr_datestyle | join(',') }}'
intervalstyle = '{{ pgbdr_intervalstyle }}'
timezone = '{{ pgbdr_timezone }}'
timezone_abbreviations = '{{ pgbdr_timezone_abbreviations }}'     # Select the set of available time zone
					# abbreviations.  Currently, there are
					#   Default
					#   Australia (historical usage)
					#   India
					# You can create your own file in
					# share/timezonesets/.
extra_float_digits = {{ pgbdr_extra_float_digits }}			# min -15, max 3
client_encoding = {{ pgbdr_client_encoding }}		# actually, defaults to database
					# encoding

# These settings are initialized by initdb, but they can be changed.
lc_messages = '{{ pgbdr_lc_messages }}'			# locale for system error message
					# strings
lc_monetary = '{{ pgbdr_lc_monetary }}'			# locale for monetary formatting
lc_numeric = '{{ pgbdr_lc_numeric }}'			# locale for number formatting
lc_time = '{{ pgbdr_lc_time }}'				# locale for time formatting

# default configuration for text search
default_text_search_config = '{{ pgbdr_default_text_search_config }}'

# - Other Defaults -

dynamic_library_path = '{{ pgbdr_dynamic_library_path }}'
local_preload_libraries = '{{ pgbdr_local_preload_libraries | join(',') }}'
session_preload_libraries = '{{ pgbdr_session_preload_libraries }}'


#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

deadlock_timeout = {{ pgbdr_deadlock_timeout }}
max_locks_per_transaction = {{ pgbdr_max_locks_per_transaction }}		# min 10
					# (change requires restart)
max_pred_locks_per_transaction = {{ pgbdr_max_pred_locks_per_transaction }}	# min 10
					# (change requires restart)


#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

array_nulls = {{ pgbdr_array_nulls }}
backslash_quote = {{ pgbdr_backslash_quote }}	# on, off, or safe_encoding
default_with_oids = {{ pgbdr_default_with_oids }}
escape_string_warning = {{ pgbdr_escape_string_warning }}
lo_compat_privileges = {{ pgbdr_lo_compat_privileges }}
quote_all_identifiers = {{ pgbdr_quote_all_identifiers }}
sql_inheritance = {{ pgbdr_sql_inheritance }}
standard_conforming_strings = {{ pgbdr_standard_conforming_strings }}
synchronize_seqscans = {{ pgbdr_synchronize_seqscans }}

# - Other Platforms and Clients -

transform_null_equals = {{ pgbdr_transform_null_equals }}


#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------

exit_on_error = {{ pgbdr_exit_on_error }}			# terminate session on any error?
restart_after_crash = {{ pgbdr_restart_after_crash }}		# reinitialize after backend crash?


#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------

# These options allow settings to be loaded from files other than the
# default postgresql.conf.

include_dir = 'conf.d'			# include files ending in '.conf' from
					# directory 'conf.d'
#include_if_exists = 'exists.conf'	# include file only if it exists
#include = 'special.conf'		# include file


#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------

# Add settings for extensions here
